

.squareBox {
    font-size: 50px;
    background-color: white;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    display: flex;
    flex-basis: auto;
}

.boardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 50vh;
    height: 50vh;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
}

.scoreboard {
    display: grid;
    grid-template-columns: minmax(20%, auto) minmax(20%, auto) 1fr 1fr 1fr;
    width: 80vw;
    margin: 5px;
}

input {
    width: 80%;
}

.scoreboardElement {
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    margin-right: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerBox {
    display: flex; 
    flex-direction: column;
    padding: 5px
}

#gamespaceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: white;
    font-size: 2em;
    font-weight: bolder;
}

button:hover {
    color: red;
}

.winbox {
    border: 1px solid tomato; 
    width: 100%;
    height: 50px; 
}

