.squareBox {
    background-color: red;
    font-size: 50px;
}

.boardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 50vw;
    height: 50vw;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.scoreboard {
    display: flex;
}

.playerBox {
    display: flex; 
    flex-direction: column;
}